.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  z-index: 1;
  margin: px;
  position: relative;
}
.wrapper > img {
  max-height: 200px;
  width: 100%;
  /* object-fit: contain; */
  margin: 20px;
  margin-bottom: 15px;
  position: relative;
  z-index: -1;
}
