.banner__down {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 80px;
}
.banner__text {
  font-size: 18px;
  line-height: 1.6;
}
/* .banner__cta__btn {
  background-color: #015a54;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 20px;
}
.banner__cta__btn:hover {
  background-color: 03A196;
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: 600;
  line-height: 20px;
  transition: 1s all ease;
  transform: scale(1.1, 1.1);
} */
